<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/master_page}">
<html lang="en">

<th:block layout:fragment="content">

            <div>
                <h1>List of accounts</h1>
            </div>
            <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="th-sm">#
                    </th>
                    <th class="th-sm">Account Type
                    </th>
                    <th class="th-sm">Account Number
                    </th>
                    <th class="th-sm">Customer Names
                    </th>
                    <th class="th-sm">Balance
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="account, iterStat : ${accounts}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${account.accountType.accountTypeName}"> </td>
                    <td th:text="${account.accountNumber}"> </td>
                    <td th:text="${account.customer.firstName +' '+account.customer.lastName}"> </td>
                    <td th:text="${account.balance}"> </td>
                </tr>
                <tr>
                </tr>
                </tbody>
            </table>

</th:block>
</html>
