<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/master_page}">
<html lang="en">

<th:block layout:fragment="content">

            <div>
                <h1>List of customers</h1>
            </div>
            <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="th-sm">#
                    </th>
                    <th class="th-sm">Customer Number
                    </th>
                    <th class="th-sm">Firstname
                    </th>
                    <th class="th-sm">Middlename
                    </th>
                    <th class="th-sm">Lastname
                    </th>
                    <th class="th-sm">Email address
                    </th>
                    <th class="th-sm">Phone Number
                    </th>
                    </th>
                    <th class="th-sm">Date Of Birth
                    </th>
                    <th class="th-sm">Modify
                    </th>
                    <th class="th-sm">Remove
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer, iterStat : ${customers}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${customer.customerNumber}"> </td>
                    <td th:text="${customer.firstName}"></td>
                    <td th:text="${customer.middleName}"></td>
                    <td th:text="${customer.lastName}"></td>
                    <td th:text="${customer.emailAddress}"></td>
                    <td th:text="${customer.contactPhoneNumber}"></td>
                    <td th:text="${customer.dateOfBirth}"></td>
                    <td>
                        <a type="button" class="btn btn-primary btn-xs" th:href="@{'/edit/{customerId}'(customerId=${customer.getCustomerId()})}">Edit</a>
                    <td>
                        <a type="button" class="btn btn-danger btn-xs" th:href="@{'/delete/{customerId}'(customerId=${customer.getCustomerId()})}">Delete</a>
                    </td>
                </tr>
                <tr>
                </tr>
                </tbody>
            </table>

</th:block>
</html>
